<div class="content-wrapper" ng-init="checkSession()">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Add Office Location</h3>
              <a ui-sref="listofficelocation"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Office Locations</span></a>
            </div>
              <form role="form" name="addofficelocationform" ng-submit="submitForm(addofficelocationform.$valid)" novalidate>
                <div class="box-body">

                  <div class="form-group col-sm-6">
                    <label>Office Location Name*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-bank"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Office Location" name="officelocation" ng-model="officelocationScope.officelocation" ng-required="true">
                    </div>
                    <p ng-show="addofficelocationform.officelocation.$invalid && !addofficelocationform.officelocation.$pristine" class="help-block">Office Location is required.</p>
                  </div>

                  <div class="form-group col-sm-6">
                    <label>Address*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-briefcase"></i>
                      </div>
                        <textarea class="form-control" placeholder="Address" name="address" cols="60" rows="4" ng-model="officelocationScope.address" ng-required="true"></textarea>
                    </div>
                    <p ng-show="addofficelocationform.address.$invalid && !addofficelocationform.address.$pristine" class="help-block">Office address is required.</p>
                  </div>

                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button type="submit" ng-disabled="addofficelocationform.$invalid" class="btn btn-primary" ng-click="officelocationScope.addOfficeLocation()">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
                </div>
              </form>

            <div ng-show="officelocationScope.successmsg" class="well well-sm alert alert-success text-center"> Office location is saved. <a ui-sref="listofficelocation"> Click to go to listing Page</a> </div>
            <div ng-show="officelocationScope.errormsg" class="well well-sm alert alert-danger text-center"> Office location is not saved. Please try again.</a> </div>
          </div>
        </div>
      </div>
    </section>
 </div>
<!--<script>-->
  <!--//Date picker-->
    <!--$('#datepicker').datepicker({-->
      <!--autoclose: true-->
    <!--})-->

<!--</script>-->