<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Employee Details</h3>
                  {{request.session.name}}
              <a ui-sref="listemployee"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Employees</span></a>
            </div>
              <form role="form" name="addemployeeform" ng-submit="submitForm(addemployeeform.$valid)" enctype="multipart/form-data" novalidate>
                <div class="box-body">

                  <div class="form-group col-sm-4">
                    <label>First Name*</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="First Name" name="employeefirstname" ng-model="employeeScope.employeefirstname" ng-required="true">
                    </div>
                      <p ng-show="addemployeeform.employeefirstname.$invalid && !addemployeeform.employeefirstname.$pristine" class="help-block">First Name is required.</p>
                  </div>
                   <div class="form-group col-sm-4">
                    <label>Middle Name</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Middle Name" name="employeemiddlename" ng-model="employeeScope.employeemiddlename">
                    </div>

                  </div>
                   <div class="form-group col-sm-4">
                    <label>Last Name*</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Last Name" name="employeelastname" ng-model="employeeScope.employeelastname" ng-required="true">
                    </div>
                    <p ng-show="addemployeeform.employeelastname.$invalid && !addemployeeform.employeelastname.$pristine" class="help-block">Last Name is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label> Employee ID*</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Employee ID" name="dmEmployeeId" ng-model="employeeScope.dmEmployeeId" ng-required="true">
                    </div>
                    <p ng-show="addemployeeform.dmEmployeeId.$invalid && !addemployeeform.dmEmployeeId.$pristine" class="help-block">Employee ID is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Email*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <input type="email" class="form-control" placeholder="Email" ng-model="employeeScope.email" name="email" ng-required="true">
                    </div>
                      <p ng-show="addemployeeform.email.$invalid && !addemployeeform.email.$pristine" class="help-block">Email is required.</p>
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Mobile Number*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <input type="number" ng-minlength="10" ng-maxlength="10" class="form-control" placeholder="Mobile Number" ng-model="employeeScope.mobilenum" name="mobilenum" ng-required="true">
                    </div>
                    <p ng-show="addemployeeform.mobilenum.$invalid && !addemployeeform.mobilenum.$pristine" class="help-block">Ten Digit Mobile Number is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Total Experience*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <input class="form-control" placeholder="Experience" ng-model="employeeScope.experience" name="experience" ng-required="true">
                    </div>
                      <p ng-show="addemployeeform.experience.$invalid && !addemployeeform.experience.$pristine" class="help-block">Experience is required.</p>
                  </div>



                  <div class="form-group col-sm-4">
                    <label>Current Address*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <textarea class="form-control" placeholder="Current Address" ng-model="employeeScope.curraddr" name="curraddr" ng-required="true"></textarea>
                    </div>
                      <p ng-show="addemployeeform.curraddr.$invalid && !addemployeeform.curraddr.$pristine" class="help-block">Current address is required.</p>
                  </div>

                   <div class="form-group col-sm-4">
                    <label>Permanent Address*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <textarea class="form-control" placeholder="Permanent Address" ng-model="employeeScope.permaaddr" name="permaaddr" ng-required="true"></textarea>
                    </div>
                       <p ng-show="addemployeeform.permaaddr.$invalid && !addemployeeform.permaaddr.$pristine" class="help-block">Permanent address is required.</p>
                  </div>
                  <!--Image Upload-->
                  
                  <div class="form-group col-sm-4">
                    <label>Employee Image*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <input class="form-control" accept="image/*" id="fileUpload" type="file" name="empImage" file-model="employeeScope.empImage">
                    </div>
                       <p ng-show="addemployeeform.empImage.$invalid && !addemployeeform.empImage.$pristine" class="help-block">Employee Image is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Employee Role*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <select name="empRole" class="form-control" ng-model="employeeScope.empRole" ng-required="true">
                        <option value="">---Select---</option>
                        <option value="1">Admin</option>
                        <option value="2">Manager</option>
                        <option value="3">Employee</option>

                      </select>
                    </div>
                      <p ng-show="addemployeeform.empRole.$invalid && !addemployeeform.empRole.$pristine" class="help-block">Employee Role is required.</p>
                  </div>
                  
                </div>

                <div class="box-footer" style="padding-left:25px;">
                    <button type="submit" class="btn btn-primary" ng-disabled="addemployeeform.$invalid"  ng-click="employeeScope.saveEmployee()">Submit</button>
                    <!--<button type="submit" class="btn btn-primary"  ng-click="employeeScope.saveEmployee()">Submit</button>-->
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
              </form>

            <div ng-show="employeeScope.successmsg" class="well well-sm alert alert-success text-center"> Employee details are saved. </a> </div>
            <div ng-show="employeeScope.errormsg" class="well well-sm alert alert-danger text-center"> Employee is not saved. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
 </div>
<script>



  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    $('#datepicker1').datepicker({
      autoclose: true
    })

    $('#datepicker2').datepicker({
      autoclose: true
    })

</script>