<div class="content-wrapper">
    <section class="content" style="padding-top:0px">
        <div class="" ng-init="employeeScope.getEmp360Details()">

            <div class="row">
                <h4 style="color:#183e77; padding-left:30px">Timeline <span class="small">{{employeeScope.emp360data.emp_name}}</span></h4>
            </div>

            <div class="row col-md-6 ">
                <div class="col-md-12">

                  <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-blue">
                      <div class="widget-user-image">
                          <img ng-if="employeeScope.emp360data.empImg.length" class="img-circle" src="/static/dist/dmimages/{{employeeScope.emp360data.empImg}}" alt="User Avatar">
                          <img ng-if="!employeeScope.emp360data.empImg.length" class="img-circle" src="/static/dist/img/employee.png" alt="User Avatar">
                      </div>
                      <h3 ng-if="employeeScope.emp360data.emp_name.length" class="widget-user-username">{{employeeScope.emp360data.emp_name}} <span class="small" style="color:white">{{employeeScope.emp360data.emp_dm_id}}</span></h3>
                      <h5 ng-if="employeeScope.emp360data.emp_designation.length" class="widget-user-desc">{{employeeScope.emp360data.emp_designation}}</h5>
                      <h3 ng-if="!employeeScope.emp360data.emp_name.length" class="widget-user-username">No Username added<span class="small">{{employeeScope.emp360data.emp_dm_id}}</span></h3>
                      <h5 ng-if="!employeeScope.emp360data.emp_designation.length" class="widget-user-desc">No Designation Added</h5>
                    </div>

                    <div class="box-footer no-padding">
                      <ul class="nav nav-stacked">
                        <li ng-if="employeeScope.emp360data.emp_project_count"><a href="javascript:void(0)">Projects <span class="pull-right badge bg-blue">{{employeeScope.emp360data.emp_project_count}}</span></a></li>
                        <li ng-if="employeeScope.emp360data.emp_increment_count"><a href="javascript:void(0)">Increments <span class="pull-right badge bg-aqua">{{employeeScope.emp360data.emp_increment_count}}</span></a></li>
                        <li ng-if="employeeScope.emp360data.date_of_joining" title="YY-MM-DD"><a href="javascript:void(0)">Employee Since <span class="pull-right badge bg-aqua">{{employeeScope.emp360data.date_of_joining}}</span></a></li>



                          <!--No Data -->
                        <li ng-if="!employeeScope.emp360data.emp_project_count"><a href="javascript:void(0)">Projects <span class="pull-right badge bg-blue">0</span></a></li>
                        <li ng-if="!employeeScope.emp360data.emp_increment_count"><a href="javascript:void(0)">Increments <span class="pull-right badge bg-aqua">0</span></a></li>
                        <li ng-if="!employeeScope.emp360data.date_of_joining"><a href="javascript:void(0)">Employee Since <span class="pull-right badge bg-aqua">No Data</span></a></li>
                        <!--<li><a href="javascript:void(0)">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>-->
                        <!--<li><a href="javascript:void(0)">Followers <span class="pull-right badge bg-red">842</span></a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
            </div>


            <div class="col-md-6" >
                <div class="row text-center" style="margin-top: -14px;">
                   <h4  class="m-b-30" style="color:#183e77">Projects</h4>
                </div>

                <div class="col-md-12">
                    <div class="main-timeline" ng-if="employeeScope.empProjects.length">

                        <div class="timeline" ng-repeat="values in employeeScope.empProjects">
                            <div class="timeline-content" ng-if="values.project_customer">
                                <span class="year"><b>{{values.project_start_date}} To {{values.project_end_date}}</b></span>
                                <span class="post">{{values.project_customer}}'s {{values.project_name}}</span>
                                <h4 class="title"><b>{{values.emp_designation}}</b></h4>
                                <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                            </div>
                            <div class="timeline-content" ng-if="!values.project_customer">
                                <h4 class="title">No Project Found</h4>
                            </div>
                        </div>

                    </div>

                     <div class="main-timeline" ng-if="!employeeScope.empProjects.length">

                            <div class="timeline">
                                <div class="timeline-content">

                                    <h4 class="title">No Project Found</h4>
                                    <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                                </div>
                            </div>
                        </div>
                </div>





            <div class="col-md-12">
                 <div class="row text-center">
                   <h4 class="m-b-30" style="color:#183e77">Increment History</h4>
                </div>

                <div class="col-md-12">
                    <div class="main-timeline" ng-if="employeeScope.emp360Incrementdata.length">

                        <div class="timeline" ng-repeat="values in employeeScope.emp360Incrementdata">
                            <div class="timeline-content">
                                <span class="year">From {{values.emp_increment_date}}</span>
                                <span class="post">{{values.emp_salary}} Per Annum</span>
                                <!--<h4 class="title">{{values.project_customer}}'s {{values.emp_salary}}</h4>-->
                                <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                            </div>
                        </div>

                    </div>

                    <div class="main-timeline" ng-if="!employeeScope.emp360Incrementdata.length">

                        <div class="timeline">
                            <div class="timeline-content">

                                <h4 class="title">No Promotion History Found</h4>
                                <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-12" style="margin-bottom:20px;">
                <div class="row text-center">
                    <h4 class="m-b-30" style="color:#183e77"> Education</h4>
                </div>
                 <div style="margin-bottom:30px">
                    <div class="col-md-12">
                        <div class="main-timeline" ng-if="employeeScope.emp360EducationData.length">

                            <div class="timeline" ng-repeat="values in employeeScope.emp360EducationData">
                                <div class="timeline-content">
                                    <span class="year">From {{values.completed_on}}</span>
                                    <span class="post">{{values.qualification}}</span>
                                    <h4 class="title">{{values.school_uni}}</h4>
                                    <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                                </div>
                            </div>
                        </div>

                        <div class="main-timeline" ng-if="!employeeScope.emp360EducationData.length">

                            <div class="timeline">
                                <div class="timeline-content">

                                    <h4 class="title">No Education Found</h4>
                                    <!--<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sagittis mauris. Donec mollis nunc eu est maximus eleifend. In ac malesuada nisl.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>
</div>