<div class="content-wrapper">
    <div class="col-sm-10 col-md-offset-1 p-t-b-25">
        <a ui-sref="addemployeeresignation"><span class="pull-right" ><i class="fa fa-plus" aria-hidden="true"></i> Add Resignation</span></a>
    </div>
<div class="col-sm-10 col-md-offset-1 scrollit" ng-init="employeeresignationScope.getEmployeeResignationlist()">

    <table st-table="displayedCollection" style="" st-safe-src="employeeresignationScope.listdata" class="table table-striped">
        <thead>
        <tr>
            <th class="p-l-r-0" colspan="6">
                <input st-search="" class="form-control searchBar-w pull-right" placeholder="Search Table..." type="text"/>
            </th>
        </tr>
        <tr class="table-head-color">
            <th>S.No</th>
            <th>Employee Name</th>
            <th>Reason of Resignation</th>
            <th>Resign Date</th>
            <th>Date of Leaving</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-if="employeeresignationScope.listdata.length" ng-repeat="row in displayedCollection">
            <td>{{$index+1}}</td>
            <td>{{row.emp_name}}</td>
            <td>{{row.resignReason}}</td>
            <td>{{row.resignDate}}</td>
            <td>{{row.dol}}</td>
            <td><i class="fa fa-edit" style="cursor:pointer" ng-click="employeeresignationScope.changeState(row.emp_id)"></i></td>
        </tr>
        <tr ng-if="!employeeresignationScope.listdata.length">
            <td colspan="6"><center>No Resignation Found!</center></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
