<div class="content-wrapper" ng-init="checkSession()">
    <section class="content">
      <div class="row">
        <div class="col-md-12">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Employee Experience Details</h3>
                <a ui-sref="listempexperience"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Employee Experience</span></a>
            </div>
              <form role="form" name="empExperienceform" ng-submit="submitForm(empExperienceform.$valid)" novalidate>
                <div class="box-body">

                  <div class="form-group col-sm-4">
                    <label>Previous Company Name*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                        <input type="text" placeholder="Previous Company Name" name="prevCompanyName" ng-model="empExperienceScope.prevCompanyName" class="form-control" ng-required="true">
                    </div>
                      <p ng-show="empExperienceform.prevCompanyName.$invalid && !empExperienceform.prevCompanyName.$pristine" class="help-block">Previous Company Name is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Job Title*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                        <input type="text" placeholder="Job Title" name="jobTitle" ng-model="empExperienceScope.jobTitle" class="form-control" ng-required="true">
                    </div>
                      <p ng-show="empExperienceform.jobTitle.$invalid && !empExperienceform.jobTitle.$pristine" class="help-block">Job Title is required.</p>
                  </div>


                  <div class="form-group col-sm-4">
                    <label>From Date*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="datepicker" placeholder="From Date" ng-model="empExperienceScope.fromdate" name="fromdate" ng-required="true">
                    </div>
                    <p ng-show="empExperienceform.fromdate.$invalid && !empExperienceform.fromdate.$pristine" class="help-block">From Date is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>To Date*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="datepicker1" placeholder="To Date" ng-model="empExperienceScope.todate" name="todate" ng-required="true">
                    </div>
                      <p ng-show="empExperienceform.todate.$invalid && !empExperienceform.todate.$pristine" class="help-block">To Date is required.</p>
                  </div>

                  <div class="form-group col-sm-8">
                    <label>Job Description*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                        <textarea name="jobDescription" class="form-control" placeholder="Job Description" ng-model="empExperienceScope.jobDescription" cols="30" rows="5" ng-required="true"></textarea>
                    </div>
                    <p ng-show="empExperienceform.jobDescription.$invalid && !empExperienceform.jobDescription.$pristine" class="help-block">Job Description is required.</p>
                  </div>
                  <div>
                    <a href="javascript:void(0)"><span ng-click="empExperienceScope.addcompanyrows()" style="font-size:12px; margin-left:15px; "><i class="fa fa-plus"></i> Add Company List</span></a>
                  </div>
                    <div style="margin-left:5px">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Previous Company Name</th>
                                    <th>Job Title</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Job Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="values in empExperienceScope.companyrowdata">
                                    <td>{{values.prevCompanyName}}</td>
                                    <td>{{values.jobTitle}}</td>
                                    <td>{{values.fromDate}}</td>
                                    <td>{{values.toDate}}</td>
                                    <td>{{values.jobDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button type="submit" id="btnenable" class="btn btn-primary" ng-disabled="empExperienceform.$invalid" ng-click="empExperienceScope.saveEmployeeExperience()">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
                </div>
              </form>

            <div ng-show="empExperienceScope.successmsg" class="well well-sm alert alert-success text-center"> Employee experience details are saved. <a ui-sref="addemployeeeducation"> Click to go to Add Employee Education</a> </div>
            <div ng-show="empExperienceScope.errormsg" class="well well-sm alert alert-danger text-center"> Employee experience is not saved. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
 </div>
<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    $('#datepicker1').datepicker({
      autoclose: true
    })

    $('#datepicker2').datepicker({
      autoclose: true
    })

</script>