<div class="content-wrapper">
    <div class="col-sm-10 col-md-offset-1 p-t-b-25">
        <a ui-sref="addprojectmaster"><span class="pull-right" ><i class="fa fa-plus" aria-hidden="true"></i> Add Project</span></a>
    </div>
<div class="col-sm-10 col-md-offset-1 scrollit" ng-init=" projectmasterScope.getProjectMasterlist()">
    <table st-table="displayedCollection" style="" st-safe-src="projectmasterScope.listdata" class="table table-striped">
        <thead>

        <tr>
            <th class="p-l-r-0"  colspan="12">
                <input st-search="" class="form-control searchBar-w pull-right" placeholder="Search Table..." type="text"/>
            </th>
            <!--<th><button class="pull-right btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-search-plus" aria-hidden="true"></i> <b>Advance Search</b></button></th>-->
        </tr>
        <tr class="table-head-color">
            <th>S.No</th>
            <th st-sort="customer_id">Customer</th>
            <th st-sort="project_name">Project</th>
            <th st-sort="project_cost">Project Cost </th>
            <th st-sort="proj_typemaster_id">Project Type</th>
            <th st-sort="start_date">Start Date</th>
            <th st-sort="end_date">End Date</th>
            <th st-sort="resource_count">Resources</th>
            <!--<th st-sort="businessunit_id">Business Unit</th>-->
            <th st-sort="manager_name">Manager</th>
            <th>View PO</th>
            <th>View Documents</th>
            <th st-sort="">Action</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{$index+1}}</td>
            <td>{{row.customer_id}}</td>
            <td>{{row.project_name}}</td>
            <td>{{row.project_cost}}</td>
            <td>{{row.proj_typemaster_id}}</td>
            <td>{{row.start_date}}</td>
            <td>{{row.end_date}}</td>
            <td>{{row.resource_count}}</td>
            <td>{{row.manager_name}}</td>
            <td><button class="btn btn-success hrms-button" ng-click="projectmasterScope.changeViewPOstate(row.project_id)">View PO</button></td>
            <td><button class="btn btn-warning hrms-button" ui-sref="viewdocuments({obj:row.project_id})">View Documents</button></td>
            <td><i class="fa fa-edit" style="cursor:pointer" ng-click="projectmasterScope.changeState(row.project_id)"></i> <i class="fa fa-trash" style="color:orangered; cursor:pointer" ng-click="projectmasterScope.deleteeprojectmaster(row.project_id, $index)"></i></td>
        </tr>
        </tbody>
    </table>

</div>
</div>
