<div class="content-wrapper" ng-init="checkSession()">
    <section class="content">
      <div class="row">
        <div class="col-md-12">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Employee Educations Details</h3>
                <a ui-sref="listemployeeeducation"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Employee Education</span></a>
            </div>
              <form role="form" name="addemployeeeducationform" ng-submit="submitForm(addemployeeeducationform.$valid)" novalidate>
                <div class="box-body">
                  <div class="form-group col-sm-4">
                    <label>School University Name:*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa fa-university"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="School University Name" name="employeeschooluniversityname" ng-model="employeeeducationScope.employeeschooluniversityname" ng-required="true">
                      <!--<textarea class="form-control" placeholder="School University Name" ng-model="employeeeducationScope.employeeschooluniversityname" name="employeeschooluniversityname" ng-required="true"></textarea>-->
                    </div>
                    <p ng-show="addemployeeeducationform.employeeschooluniversityname.$invalid && !addemployeeeducationform.employeeschooluniversityname.$pristine" class="help-block">School University Name is required.</p>
                  </div>
                   <div class="form-group col-sm-4">
                    <label>Qualification Degree Name:*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <input type="text" class="form-control" placeholder=" Qualification Degree  Name" name="qualificationdegreename" ng-model="employeeeducationScope.qualificationdegreename" ng-required="true">
                    </div>
                     <p ng-show="addemployeeeducationform.qualificationdegreename.$invalid && !addemployeeeducationform.qualificationdegreename.$pristine" class="help-block">Qualification Degree Name is required.</p>

                  </div>

                  <div class="form-group col-sm-4">
                    <label>Date of completion:*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="datepicker" placeholder="Date of completion" ng-model="employeeeducationScope.dateOfComplete" name="doc" ng-required="true">
                    </div>
                    <p ng-show="addemployeeeducationform.doc.$invalid && !addemployeeeducationform.doc.$pristine" class="help-block">Date of completion is required.</p>
                  </div>


                  <div class="form-group col-sm-4">
                    <label>Notes:</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-address-card-o"></i>
                      </div>
                      <textarea class="form-control" placeholder="Add Notes Here" rows="3" ng-model="employeeeducationScope.notes" name="notes" ng-required="true"></textarea>
                    </div>
                    <p ng-show="addemployeeeducationform.notes.$invalid && !addemployeeeducationform.notes.$pristine" class="help-block"> Notes is required.</p>
                  </div>


                  <div class="col-sm-12">
                    <a href="javascript:void(0)"><span ng-click="employeeeducationScope.educationrow()" style="font-size:12px; margin-left:15px; "><i class="fa fa-plus"></i> Add Education List</span></a>
                  </div>
                    <div style="margin-left:5px">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Employee School University Name</th>
                                    <th>Employee Qualification Degree Name</th>
                                    <th>Date of completion</th>
                                    <th>Notes</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in employeeeducationScope.educationrowdata">
                                    <td>{{row.empSchoolUnivName}}</td>
                                    <td>{{row.empQualiDegrName}}</td>
                                    <td>{{row.empdateOfComplete}}</td>
                                    <td>{{row.empNotes}}</td>
                                    <td>{{values.jobDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                 <div class="box-footer col-sm-12" style="padding-left:15px;">
                     <button type="submit" ng-disabled="addemployeeeducationform.$invalid" class="btn btn-primary" ng-click="employeeeducationScope.saveemployeeeducation()">Submit</button>
                     <button type="reset" class="btn btn-default">Clear</button>
                 </div>
                </div>
              </form>
              <div ng-show="employeeeducationScope.successmsg" class="well well-sm alert alert-success text-center"> Employee education deatils are saved. <a ui-sref="addemployeedependents"> Click to go to Add Employee Dependants Details</a> </div>
              <div ng-show="employeeeducationScope.errormsg" class="well well-sm alert alert-danger text-center"> Employee Education is not saved. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>

      </div>
      <!-- /.row -->
      </div>
    </section>


<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    $('#datepicker1').datepicker({
      autoclose: true
    })

    $('#datepicker2').datepicker({
      autoclose: true
    })

</script>