<div class="content-wrapper" ng-init="checkSession()">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Add Designation:</h3>
              <a ui-sref="listdesignation"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Designations</span></a>
            </div>
              <form role="form" name="adddesignationmasterform" ng-submit="submitForm(adddesignationmasterform.$valid)" novalidate>
                <div class="box-body">

                  <div class="form-group col-sm-6">
                    <label>Add Designation Name:</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-plus"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Designation Name" name="designationname" ng-model="designationScope.designationname" ng-required="true">
                    </div>
                      <p ng-show="adddesignationmasterform.designationname.$invalid && !adddesignationmasterform.designationname.$pristine" class="help-block">Designation Name is required.</p>
                  </div>

                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button type="submit" ng-disabled="adddesignationmasterform.$invalid" class="btn btn-primary" ng-click=" designationScope.saveDesignation()">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
                </div>
              </form>

            <div ng-show="designationScope.successmsg" class="well well-sm alert alert-success text-center"> Designation Name is saved. <a ui-sref="listdesignation"> Click to go to listing Page</a> </div>
            <div ng-show="designationScope.errormsg" class="well well-sm alert alert-danger text-center"> Designation Name is not saved. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
 </div>
<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

</script>