<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px">Update Designation Details</h3>
                <a ui-sref="listdesignation"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Designations</span></a>
            </div>
              <form role="form" name="updatedesignationmasterform" ng-submit="submitForm(updatedesignationmasterform.$valid)" novalidate ng-init="designationScope.insertdatarow()">
                <div class="box-body">

                  <div class="form-group col-sm-6">
                    <label>Designation Name:</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-plus"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Designation Name" name="designationname" ng-model="designationScope.data[0].des_name" ng-required="true">
                    </div>
                    <p ng-show="updatedesignationmasterform.designationname.$invalid && !updatedesignationmasterform.designationname.$pristine" class="help-block">Designation Name is required.</p>
                  </div>

                  <input type="hidden" ng-model="designationScope.data[0].des_id">

                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button ng-disabled="updatedesignationmasterform.$invalid" type="submit" class="btn btn-primary" ng-click="designationScope.updateDesignation()">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
                </div>
              </form>

            <div ng-show="designationScope.successmsg" class="well well-sm alert alert-success text-center"> Designation Name is updated. <a ui-sref="listdesignation"> Click to go to listing Page</a> </div>
            <div ng-show="designationScope.errormsg" class="well well-sm alert alert-danger text-center"> Designation Name is not updated. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
 </div>
<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

</script>