<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;"> Edit Customer Details:</h3>
                <a ui-sref="listcustomermaster"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Customers</span></a>
            </div>
              <form role="form" name="addprojectmasterform" ng-init ="customerMasterScope.geteditcustomer()"  ng-submit="submitForm(addprojectmasterform.$valid)" novalidate>
                <div class="box-body">

                   <div class="form-group col-sm-4">
                    <label>Customer Name*</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="Customer Name" name="customername" ng-model="customerMasterScope.data.customer_name" ng-required="true">
                    </div>
                     <p ng-show="addprojectmasterform.project_name.$invalid && !addprojectmasterform.project_name.$pristine" class="help-block">Customer Name is required.</p>

                  </div>

                  <div class="form-group col-sm-4">
                    <label>Start Date:*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="datepicker1" placeholder="Start Date" ng-model="customerMasterScope.data.start_date" name="startDate" ng-required="true">
                    </div>
                    <p ng-show="addprojectmasterform.startDate.$invalid && !addprojectmasterform.startDate.$pristine" class="help-block">Project Start Date is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Customer Contact Person Name*</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="First Name" name="contactpersonname" ng-model="customerMasterScope.data.contact_person_name" ng-required="true">
                    </div>
                      <p ng-show="addemployeeform.employeefirstname.$invalid && !addemployeeform.employeefirstname.$pristine" class="help-block">First Name is required.</p>
                  </div>

                <div class="form-group col-sm-4">
                    <label>Contact Person Email id*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <input type="email" class="form-control" placeholder="Email Id" ng-model="customerMasterScope.data.contact_person_emailid" name="email" ng-required="true">
                    </div>
                      <p ng-show="addemployeeform.email.$invalid && !addemployeeform.email.$pristine" class="help-block">Email is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Status*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-check-square-o"></i>
                      </div>
                      <select name="status" ng-model="customerMasterScope.data.active" class="form-control" ng-required="true">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                      </select>
                    </div>
                    <p ng-show="addbusinessunitform.status.$invalid && !addbusinessunitform.status.$pristine" class="help-block">Status is required.</p>
                  </div>

                <div class="form-group col-sm-6">
                    <label>Customer Address*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-briefcase"></i>
                      </div>
                        <textarea class="form-control" placeholder="Customer Address" name="address" cols="60" rows="4" ng-model="customerMasterScope.data.customer_address" ng-required="true"></textarea>
                    </div>
                    <p ng-show="addofficelocationform.address.$invalid && !addofficelocationform.address.$pristine" class="help-block">Office address is required.</p>
                  </div>




                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button type="submit" ng-disabled="addprojectmasterform.$invalid" class="btn btn-primary" ng-click="customerMasterScope.updateCustomer()">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
                    </div>
              </form>

              <div ng-show="customerMasterScope.successmsg" class="well well-sm alert alert-success text-center"> Customer is Saved. <a ui-sref="listcustomermaster"> Click to go to listing Page</a> </div>
              <div ng-show="customerMasterScope.errormsg" class="well well-sm alert alert-danger text-center">Customer is not Saved. Please try again.</a> </div>
            <!--<div ng-show="employeeprojectScope.successmsg" class="well well-sm alert alert-success text-center"> Employee Project is Saved. <a ui-sref="listemployeeeducation"> Click to go to listing Page</a> </div>-->
            <!--<div ng-show="employeeprojectScope.errormsg" class="well well-sm alert alert-danger text-center"> Employee Project is not Saved. Please try again.</a> </div>-->
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>

      <!-- /.row -->

    </section>
 </div>
<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    $('#datepicker1').datepicker({
      autoclose: true
    })

    $('#datepicker2').datepicker({
      autoclose: true
    })

</script>

<!--<script>-->
  <!--//Date picker-->
    <!--$('#Datepicker').Datepicker({-->
      <!--autoclose: true-->
    <!--})-->

    <!--$('#Datepicker1').Datepicker({-->
      <!--autoclose: true-->
    <!--})-->

    <!--$('#Datepicker2').Datepicker({-->
      <!--autoclose: true-->
    <!--})-->

<!--</script>-->