<div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title" style="padding-left:15px;">Edit Employee Designation & Package Details</h3>
                <a ui-sref="listempdesig_pack_history" ng-if="userRolesToggle.empRole==1"><span style="padding-right:15px;" class="pull-right"><i class="fa fa-list"></i> Employee Package & Designation History</span></a>
            </div>
              <form role="form" ng-init="empdesigpackhistoryScope.populateEditData()" name="editemployeehistoryform" ng-submit="submitForm(editemployeehistoryform.$valid)" novalidate>
                  <input type="hidden" ng-model="empdesigpackhistoryScope.data.pckg_id">
                  <div class="box-body">
                    <div class="form-group col-sm-4">
                    <label>Employee Name*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                        <input ng-if="userRolesToggle.empRole==3" readonly  class="form-control" type="text" ng-model="empdesigpackhistoryScope.data.emp_name"  placeholder="Employee Name" auto-complete="empdesigpackhistoryScope.autoCompleteOptions" />
                        <input ng-if="userRolesToggle.empRole==2" readonly  class="form-control" type="text" ng-model="empdesigpackhistoryScope.data.emp_name"  placeholder="Employee Name" auto-complete="empdesigpackhistoryScope.autoCompleteOptions" />
                        <input ng-if="userRolesToggle.empRole==1" class="form-control" type="text" ng-model="empdesigpackhistoryScope.data.emp_name"  placeholder="Employee Name" auto-complete="empdesigpackhistoryScope.autoCompleteOptions" />
                    </div>
                      <p ng-show="editemployeehistoryform.employeename.$invalid && !editemployeehistoryform.employeename.$pristine" class="help-block">Employee Name is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>Salary*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </div>
                        <input ng-if="userRolesToggle.empRole==3" readonly type="number" class="form-control" placeholder="Salary" ng-model="empdesigpackhistoryScope.data.salary" name="salary" ng-required="true">
                        <input ng-if="userRolesToggle.empRole==2" readonly type="number" class="form-control" placeholder="Salary" ng-model="empdesigpackhistoryScope.data.salary" name="salary" ng-required="true">
                        <input ng-if="userRolesToggle.empRole==1" type="number" class="form-control" placeholder="Salary" ng-model="empdesigpackhistoryScope.data.salary" name="salary" ng-required="true">
                    </div>
                      <p ng-show="editemployeehistoryform.salary.$invalid && !editemployeehistoryform.salary.$pristine" class="help-block">Salary is required.</p>
                  </div>

                  <div class="form-group col-sm-4">
                    <label>From Date*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                        <input ng-if="userRolesToggle.empRole==3" readonly type="text" class="form-control" id="datepicker" placeholder="From Date" ng-model="empdesigpackhistoryScope.data.from_date" name="fromdate" ng-required="true">
                        <input ng-if="userRolesToggle.empRole==2" readonly type="text" class="form-control" id="datepicker" placeholder="From Date" ng-model="empdesigpackhistoryScope.data.from_date" name="fromdate" ng-required="true">
                        <input ng-if="userRolesToggle.empRole==1" type="text" class="form-control" id="datepicker" placeholder="From Date" ng-model="empdesigpackhistoryScope.data.from_date" name="fromdate" ng-required="true">
                    </div>
                    <p ng-show="editemployeehistoryform.fromdate.$invalid && !editemployeehistoryform.fromdate.$pristine" class="help-block">From Date is required.</p>
                  </div>

                  <!--<div class="form-group col-sm-4">-->
                    <!--<label>To Date*</label>-->
                    <!--<div class="input-group">-->
                      <!--<div class="input-group-addon">-->
                        <!--<i class="fa fa-calendar"></i>-->
                      <!--</div>-->
                      <!--<input type="text" class="form-control" id="datepicker1" placeholder="To Date" ng-model="empdesigpackhistoryScope.data.to_date" name="todate" ng-required="true">-->
                    <!--</div>-->
                      <!--<p ng-show="editemployeehistoryform.todate.$invalid && !editemployeehistoryform.todate.$pristine" class="help-block">To Date is required.</p>-->
                  <!--</div>-->

                  <div class="form-group col-sm-4" ng-if="userRolesToggle.empRole==1">
                    <label>Active*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                        <select name="Active" class="form-control" ng-model="empdesigpackhistoryScope.data.active" ng-required="true">
                            <option value="">---Select---</option>
                            <option ng-value="1">Active</option>
                            <option ng-value="0">Inactive</option>
                        </select>
                    </div>
                    <p ng-show="editemployeehistoryform.Active.$invalid && !editemployeehistoryform.Active.$pristine" class="help-block">Active is required.</p>
                  </div>

                  <div class="form-group col-sm-4" ng-if="userRolesToggle.empRole==1">
                    <label>Currency*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                        <select ng-required="true" name="currency" ng-model="empdesigpackhistoryScope.data.currencyid" class="form-control">
                            <option value="">---Select---</option>
                            <option ng-repeat="values in empdesigpackhistoryScope.currency" ng-value="{{values.currency_id}}">{{values.currency_name}}</option>
                        </select>
                    </div>
                      <p ng-show="editemployeehistoryform.currency.$invalid && !editemployeehistoryform.currency.$pristine" class="help-block">Employee Name is required.</p>
                  </div>

                   <div class="form-group col-sm-4" ng-if="userRolesToggle.empRole==1">
                    <label>Designation*</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <select name="Designation" class="form-control" ng-model="empdesigpackhistoryScope.data.designationId" ng-required="true">
                        <option value="">--Select---</option>
                        <option ng-repeat="values in empdesigpackhistoryScope.designation" ng-value="{{values.des_id}}">{{values.des_name}}</option>
                      </select>
                    </div>
                      <p ng-show="editemployeehistoryform.Designation.$invalid && !editemployeehistoryform.Designation.$pristine" class="help-block">Designation is required.</p>
                  </div>


                <div class="box-footer col-sm-12" style="padding-left:15px;">
                    <button type="submit" class="btn btn-primary" ng-disabled="editemployeehistoryform.$invalid"  ng-click="empdesigpackhistoryScope.updateEditData()">Submit</button>
                    <button type="reset" ng-click="empdesigpackhistoryScope.clearform()" class="btn btn-default">Clear</button>
                </div>
                </div>
              </form>

            <div ng-if="userRolesToggle.empRole==1" ng-show="empdesigpackhistoryScope.successmsg" class="well well-sm alert alert-success text-center"> Employee Designation & Package Details History is updated. <a ui-sref="listempdesig_pack_history"> Click to go to listing Page</a> </div>
            <div ng-if="userRolesToggle.empRole==2 || userRolesToggle.empRole==3" ng-show="empdesigpackhistoryScope.successmsg" class="well well-sm alert alert-success text-center"> Employee Designation & Package Details History is updated. </div>
            <div ng-show="empdesigpackhistoryScope.errormsg" class="well well-sm alert alert-danger text-center"> Employee Designation & Package Details History is not updated. Please try again.</a> </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->

        </div>
        <!-- /.col (left) -->

        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
 </div>
<script>
  //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    $('#datepicker1').datepicker({
      autoclose: true
    })

    $('#datepicker2').datepicker({
      autoclose: true
    })

</script>