<div class="content-wrapper">
     <div class="col-sm-10 col-md-offset-1 p-t-b-25">
        <a ui-sref="addprojecttypemaster"><span class="pull-right" ><i class="fa fa-plus" aria-hidden="true"></i> Add Project Type</span></a>
    </div>
<div class="col-sm-10 col-md-offset-1 scrollit" ng-init="projecttypeScope.getProjecttypelist()">
    <table st-table="displayedCollection" style="" st-safe-src="projecttypeScope.listdata" class="table table-striped">
        <thead>

        <tr>
            <th class="p-l-r-0" colspan="3">
                <input st-search="" class="form-control searchBar-w pull-right" placeholder="Search Table..." type="text"/>
            </th>
            <!--<th><button class="pull-right btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-search-plus" aria-hidden="true"></i> <b>Advance Search</b></button></th>-->
        </tr>
        <tr class="table-head-color">
            <th st-sort>S.No</th>
            <th st-sort="proj_name">Project Type Name</th>
            <th st-sort="">Action</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{$index+1}}</td>
            <td>{{row.proj_name}}</td>
            <td><i class="fa fa-edit" style="cursor:pointer" ng-click="projecttypeScope.changeState (row.proj_id)"></i> <i class="fa fa-trash" style="color:orangered; cursor:pointer" ng-click="projecttypeScope.deleteProjecttype(row.proj_id, $index)"></i></td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Advance Search</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4">
                <select name="columnName" id="columnName" class="form-control" ng-model="employeeScope.columnName">
                    <option value="">---Select---</option>
                    <option value="employee_name">Employee Name</option>
                    <option value="mobile_number">Employee Contact Number</option>
                    <option value="email">Employee Email</option>
                    <option value="dob">Employee DOB</option>
                    <option value="current_address">Employee Current Address</option>
                    <option value="permanent_address">Employee Permanent Address</option>
                    <option value="modified_date">Modified Date</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select name="dbCondition" id="dbCondition" class="form-control" ng-model="employeeScope.dbCondition">
                    <option value="">---Select---</option>
                    <option value="=">Equal To</option>
                    <option value=">">Greater Than</option>
                    <option value="<">Less Than</option>
                    <option value=">=">Greater Than Or Equal To</option>
                    <option value="<=">Less Than Or Equal To</option>
                    <option value="<>">Not Equal To</option>
                    <option value="like">Like</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Advance Search" ng-model="employeeScope.searchText" ng-change="employeeScope.bindquery()">
            </div>
            <div class="col-sm-12" style="margin-top:10px">
                <textarea name="query" id="" cols="30" rows="3" class="form-control" readonly ng-model="employeeScope.dbQuery"></textarea>
            </div>

            <div class="col-sm-12" style="margin-top:10px">
                <input type="submit" class="btn btn-success" ng-click="employeeScope.advanceSearch()">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
